@{
    ViewData["Title"] = "Contact";
}
<h1 class="mt-2">Contact Us</h1>
<hr />

<div class="row">
    <div class="col-md-3">
        <form id="contactFormStandard" onsubmit="return StandardSubmit()">
            <div class="form-group">
                <label for="Name">Name</label>
                <input name="Name" size="30" type="text" class="form-control" placeholder="Name*" required="" autofocus="">
            </div>
            <div class="form-group">
                <label for="Email">Email Address</label>
                <input name="Email" size="30" type="email" class="span12 form-control" placeholder="E-mail Address*" required="">
            </div>
            <div class="form-group">
                <label for="Message">Message</label>
                <textarea name="Message" class="span12 form-control" placeholder="Message*" rows="6" required=""></textarea>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Would you like to receive a copy of our Newsletter?</label>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>

            <small> (*Required Fields)</small>
        </form>
    </div>

    <div class="col-md-5">
        <iframe class="gmap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3418.9875904062988!2d-87.49597888440852!3d31.026595381535575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x889079b6ca7b3e2f%3A0xb99cfcf4f8170e3e!2s137+N+Main+St%2C+Atmore%2C+AL+36502!5e0!3m2!1sen!2sus!4v1451928927512" frameborder="0" id="iFrameResizer0" scrolling="no"></iframe>
        <input type="hidden" name="form-id" value="4f4765f0-c307-4c5d-9841-97ea162433a2" />
    </div>

    <div class="col-md-4">
        <address class="classWithPad">
            <i class="fa fa-map-pin"></i> <strong>Location:</strong> 137 North Main Street<br />Atmore, Alabama 36502<br /><br />
            <i class="fa fa-phone"></i> <strong>Phone</strong>: 251-368-3055 / Fax: 251-368-0800<br /><br />
            <i class="fa fa-envelope"></i> <strong>E-Mail</strong>: <a href=mailto:director@atmorechamber.com>director@atmorechamber.com</a><br /><br />
            <i class="fa fa-users"></i> <a href="https://www.facebook.com/AtmoreChamber">Follow us on Facebook</a><br /><br />
            <i class="fa fa-camera"></i> <a href="https://www.instagram.com/atmoreareachamberofcommerce/">Follow us on Instagram</a><br />
        </address>
    </div>
</div>