@{
    ViewData["Title"] = "Home Page";
}

<h1 class="mt-0">The Atmore Area Chamber of Commerce</h1>


<div class="row">
    <div class="col-lg-8 mb-4">
        <p>
            We are committed to making our community a more attractive place in which to work and do business. Chamber membership is comprised of a cross section of businesses, industries, organizations and individuals interested in quality of life issues and the promotion of the Atmore area's business and economic development. As business people or residents we all share a stake in our community. Membership in the Atmore Area Chamber of Commerce is a great way to nurture and safeguard your investment.
            We invite and challenge you to join us in developing Atmore. At the Chamber, we don't just talk about the future . . . we help shape it and we need your help! The activities of the Chamber are limited only by the support of the community. Let's combine our talents and make Atmore the best it can be.
        </p>
    </div>
    <div class="col-lg mb-4">
        <div class="card">
            <div class="card-header">
                Events
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Mayfest</li>
                <li class="list-group-item">Mayfest</li>
                <li class="list-group-item">Mayfest</li>
            </ul>
        </div>
    </div>
</div>

 

<!-- Marketing Icons Section -->
<div class="row">
    <div class="col-lg-4 mb-4">
        <div class="card h-100">
            <h4 class="card-header bg-atmore-red">Advocating</h4>
            <div class="card-body">
                <p class="card-text">Need text and/or picture for this box.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-4">
        <div class="card h-100">
            <h4 class="card-header bg-atmore-red">Educating</h4>
            <div class="card-body">
                <p class="card-text">Need text and/or picture for this box.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-4">
        <div class="card h-100">
            <h4 class="card-header bg-atmore-red">Connecting</h4>
            <div class="card-body">
                <p class="card-text">Need text and/or picture for this box.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->

