<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon" />

    <title>@ViewData["Title"] - Atmore Area Chamber of Commerce</title>

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/site.css" rel="stylesheet">


</head>
<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark-teal fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/Home"><img src="~/images/nav-brand.png" alt="" class="img-fluid" /> #DiscoverAtmore</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAboutAtmore" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About Atmore
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownAboutAtmore">
                            <a class="dropdown-item" href="/AboutAtmore/OurHistory">Our History</a>
                            <a class="dropdown-item" href="/AboutAtmore/OurCommunity">Our Community</a>
                            <a class="dropdown-item" href="/AboutAtmore/RelocationAndHelpfulResources">Relocation and Helpful Resources</a>
                            <a class="dropdown-item" href="/AboutAtmore/InformationRequest">Information Request</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAtmoreChamber" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About The Chamber
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownAtmoreChamber">
                            <a class="dropdown-item" href="/AtmoreChamber/ExecutiveBoard">Our Executive Board</a>
                            <a class="dropdown-item" href="/AtmoreChamber/BoardOfDirectorsAndStaff">Board of Directors and Staff</a>
                            <a class="dropdown-item" href="~/files/2018PresidentWelcomeLetter.pdf" target="_blank">2018 President's Welcome Letter</a>
                            <a class="dropdown-item" href="~/files/2018DirectorWelcomeLetter.pdf" target="_blank">2018 Director's Welcome Letter</a>

                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Calendar/">Calendar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Stay Connected</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Shop the Chamber</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-fluid rounded m-0" src="/images/cityscape-white.png" alt="">
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">
        @RenderBody()

        <hr />

        <!-- Call to Action Section -->
        <div class="row mb-4">
            <div class="col-md-8">
                <p>At the Chamber, we don't just talk about the future . . . we help shape it and we need your help! The activities of the Chamber are limited only by the support of the community. Let's combine our talents and make Atmore the best it can be. </p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-lg btn-primary btn-block" href="/Home/Contact">Contact Us!</a>
            </div>
        </div>
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-md-5 bg-dark-teal main-footer">
        <div class="container">
            <div class="row sponsor-row align-content-center">
                <div class="col-md-6 p-0">
                    <div class="container sponsor-image">
                        <h4 class="align-left sponsor-heading">Cornerstone Sponsors</h4>
                        <a href="http://pci-nsn.gov/" alt="Poarch Creek Indians" target="_blank">
                            <img class="rounded" src="~/images/sponsors/pci.png" alt="Poarch Creek Indians" />
                        </a>
                    </div>
                </div>
                <div class="col-md-4 p-0">
                    <div class="container sponsor-image">
                        <a href="https://cityofatmore.com/" alt="City of Atmore" target="_blank">
                            <img class="rounded float-right" src="~/images/sponsors/atmorelogo.png" alt="Atmore Alabama" />
                        </a>
                    </div>
                </div>
                <div class="col-md-2 p-0">

                </div>
            </div>
            <br />
            <hr class="hr-agroove" />
            <div class="row">
                <div class="col-md-4 p-0">
                    <div class="container sponsor-image">
                        <h4 class="sponsor-heading">Diamond Sponsors</h4>
                        <a href="https://www.fnbandt.com/" alt="First National Bank & Trust" target="_blank">
                            <img class="rounded" src="~/images/sponsors/FNBTLogo.png" alt="First National Bank" />
                        </a>
                    </div>
                </div>
                <div class="col-md-4 p-0">
                    <div class="container sponsor-image">
                        <a href="https://www.unitedbank.com/" alt="United Bank" target="_blank">
                            <img class="rounded" src="~/images/sponsors/UnitedLogo.png" alt="United Bank" />
                        </a>
                    </div>
                </div>

                <div class="col-md-4 p-0">
                    <div class="container sponsor-image">
                        <a href="https://windcreekatmore.com/" alt="Windcreek Atmore" target="_blank">
                            <img class="rounded" src="~/images/sponsors/wind-creek.png" alt="Wind Creek" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="row footer-menu">
        <div class="col-sm-6 middle-align">
            <!-- left -->
            <p class="footer-menu-left copyright-statement middle-align">
                &copy; @DateTime.Now.Year - My ASP.NET Application
            </p>
        </div>

        <div class="col-sm-6 middle-align">
            <!-- right -->
            <p class="footer-menu-right middle-align">
                <a href="/">Home</a>
                <text class="footer-menu-list pipe">&nbsp;|&nbsp;</text>
                <a class="footer-menu-list" href="/page/Recent-News">Recent News</a>
                <text class="pipe">&nbsp;|&nbsp;</text>
                <a class="footer-menu-list" href="/page/links">Helpful Links</a>
                <text class="footer-menu-list pipe">&nbsp;|&nbsp;</text>
                <a class="footer-menu-list" href="/page/Contact">Contact</a>
                <text class="footer-menu-list pipe">&nbsp;|&nbsp;</text>
                <a class="footer-menu-list" href="/page/membership-application">Join Today</a>
            </p>
            <!-- end right -->
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>