
@{
    ViewData["Title"] = "Our Community";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-2">Our Community</h1>
<hr />

<div>
    <h2>Demographics</h2>
    <hr />
    <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elementum libero ut arcu accumsan, eget egestas lectus dictum.
            Aliquam accumsan non neque ac ultrices. Proin condimentum porta metus sit amet malesuada. Nam vehicula risus eu sollicitudin pellentesque.
            Curabitur elementum tempor sapien, eget semper nisl varius tempus. Ut rhoncus, nunc at egestas semper, felis nibh pulvinar sapien, nec viverra enim arcu at arcu.
            Integer condimentum elementum mi, quis dapibus odio malesuada nec. Mauris interdum ante lorem, porta tincidunt lorem fermentum eu. Cras tristique lorem in erat aliquam ullamcorper.
            Cras efficitur pretium metus in dignissim. Fusce sed mollis elit.
        </p>
        <p>
            Aenean congue lectus mauris, ut sagittis libero suscipit nec. Duis ullamcorper sem velit, non laoreet nibh suscipit in.
            Phasellus sit amet viverra urna. Quisque sed mi felis. Ut lacinia congue urna, sit amet luctus purus dapibus vel. Duis finibus nulla nec felis viverra accumsan.
            Phasellus lobortis nulla id iaculis pellentesque. Nulla vehicula faucibus lacus vel ornare. Morbi viverra, est eget auctor tristique, nibh lectus imperdiet nulla, quis porta eros mauris vitae nunc.
        </p>
        <p>
            Duis justo magna, bibendum quis laoreet eget, facilisis ut quam. In hac habitasse platea dictumst. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean tortor elit, mollis sagittis neque dictum, posuere finibus metus. Fusce rutrum eros nec lorem volutpat, convallis tempor ex tristique. Pellentesque at massa mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta tempus elit, sed aliquet turpis lobortis vel. Ut bibendum ut nunc at posuere. Vivamus tempus tempus porta. Maecenas bibendum, turpis a imperdiet pharetra, diam ipsum molestie ligula, vel imperdiet augue lorem vitae nisi. Ut malesuada imperdiet enim, ut iaculis sapien posuere at.
        </p>
    </div>
</div>

<div>
    <h2>Industry</h2>
    <hr />
    <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elementum libero ut arcu accumsan, eget egestas lectus dictum.
            Aliquam accumsan non neque ac ultrices. Proin condimentum porta metus sit amet malesuada. Nam vehicula risus eu sollicitudin pellentesque.
            Curabitur elementum tempor sapien, eget semper nisl varius tempus. Ut rhoncus, nunc at egestas semper, felis nibh pulvinar sapien, nec viverra enim arcu at arcu.
            Integer condimentum elementum mi, quis dapibus odio malesuada nec. Mauris interdum ante lorem, porta tincidunt lorem fermentum eu. Cras tristique lorem in erat aliquam ullamcorper.
            Cras efficitur pretium metus in dignissim. Fusce sed mollis elit.
        </p>
        <p>
            Aenean congue lectus mauris, ut sagittis libero suscipit nec. Duis ullamcorper sem velit, non laoreet nibh suscipit in.
            Phasellus sit amet viverra urna. Quisque sed mi felis. Ut lacinia congue urna, sit amet luctus purus dapibus vel. Duis finibus nulla nec felis viverra accumsan.
            Phasellus lobortis nulla id iaculis pellentesque. Nulla vehicula faucibus lacus vel ornare. Morbi viverra, est eget auctor tristique, nibh lectus imperdiet nulla, quis porta eros mauris vitae nunc.
        </p>
        <p>
            Duis justo magna, bibendum quis laoreet eget, facilisis ut quam. In hac habitasse platea dictumst. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean tortor elit, mollis sagittis neque dictum, posuere finibus metus. Fusce rutrum eros nec lorem volutpat, convallis tempor ex tristique. Pellentesque at massa mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta tempus elit, sed aliquet turpis lobortis vel. Ut bibendum ut nunc at posuere. Vivamus tempus tempus porta. Maecenas bibendum, turpis a imperdiet pharetra, diam ipsum molestie ligula, vel imperdiet augue lorem vitae nisi. Ut malesuada imperdiet enim, ut iaculis sapien posuere at.
        </p>
    </div>
</div>

<div>
    <h2>Economy</h2>
    <hr />
    <div>
        <p>
        City leaders realize that it takes more than tall pines and fertile farmland and a strong work ethic to attract industry these days. Consequently, our leaders have taken a pro-active approach to industrial recruitment. The city has built three speculative buildings in the 150-acre Atmore Industrial Park. Recently, the city has purchased acreage on Highway 21 and interstate 65. Plans are underway to promote and market the Atmore 1-65 Business Park for retail development as well as industrial development.
        </p><p>
        Agriculture and timber have long been staples of the Escambia County economy. Atmore industries have become more diverse through the years, and include textiles, metal fabrication, and communication companies. Managers of these companies agree that their loyal, hard-working employees make Atmore a great place in which to do business.
        </p><p>
        Programs are available locally through Jefferson Davis Community College and through the Alabama Industrial Development Training can be tailored for a company's specific application to ensure that those hardworking employees are also well trained.
        </p>
    </div>
</div>

<div>
    <h2>Education</h2>
    <hr />
    <div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <h5 class="card-header bg-dark-teal">
                        Public Schools:
                        Escambia County, Alabama
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                            Escambia County Board of Education <br />
                            Rachel Patterson <br />
                            Huxford Elementary School K-6 <br />
                            Escambia County Middle School 4-8 <br />
                            Escambia County High School 9-12<br />
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <h5 class="card-header bg-dark-teal">
                        Public Schools:
                        Escambia County, Florida
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                            Bratt Elementary <br />
                            Ernest Ward Middle School <br />
                            Northview High School <br />
                            Gayle Weave, Principle <br />
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <h5 class="card-header bg-dark-teal">
                        Private Schools
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                            Escambia Academy K4-12 <br />
                            Atmore Christian School K4-12 <br />
                            Temple Christian Academy K4-7 <br />
                            Dr. Darren Smith, Principle <br />
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <h5 class="card-header bg-dark-teal">
                        Community Colleges
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                            Coastal Alabama Community College <br />
                            Reid State Technical College <br />
                            Atmore Health Career Site <br />
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

<div>
    <h2>Real Estate</h2>
    <hr />
    <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elementum libero ut arcu accumsan, eget egestas lectus dictum.
            Aliquam accumsan non neque ac ultrices. Proin condimentum porta metus sit amet malesuada. Nam vehicula risus eu sollicitudin pellentesque.
            Curabitur elementum tempor sapien, eget semper nisl varius tempus. Ut rhoncus, nunc at egestas semper, felis nibh pulvinar sapien, nec viverra enim arcu at arcu.
            Integer condimentum elementum mi, quis dapibus odio malesuada nec. Mauris interdum ante lorem, porta tincidunt lorem fermentum eu. Cras tristique lorem in erat aliquam ullamcorper.
            Cras efficitur pretium metus in dignissim. Fusce sed mollis elit.
        </p>
        <p>
            Aenean congue lectus mauris, ut sagittis libero suscipit nec. Duis ullamcorper sem velit, non laoreet nibh suscipit in.
            Phasellus sit amet viverra urna. Quisque sed mi felis. Ut lacinia congue urna, sit amet luctus purus dapibus vel. Duis finibus nulla nec felis viverra accumsan.
            Phasellus lobortis nulla id iaculis pellentesque. Nulla vehicula faucibus lacus vel ornare. Morbi viverra, est eget auctor tristique, nibh lectus imperdiet nulla, quis porta eros mauris vitae nunc.
        </p>
        <p>
            Duis justo magna, bibendum quis laoreet eget, facilisis ut quam. In hac habitasse platea dictumst. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean tortor elit, mollis sagittis neque dictum, posuere finibus metus. Fusce rutrum eros nec lorem volutpat, convallis tempor ex tristique. Pellentesque at massa mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta tempus elit, sed aliquet turpis lobortis vel. Ut bibendum ut nunc at posuere. Vivamus tempus tempus porta. Maecenas bibendum, turpis a imperdiet pharetra, diam ipsum molestie ligula, vel imperdiet augue lorem vitae nisi. Ut malesuada imperdiet enim, ut iaculis sapien posuere at.
        </p>
    </div>
</div>

<div>
    <h2>Recreation</h2>
    <hr />
    <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elementum libero ut arcu accumsan, eget egestas lectus dictum.
            Aliquam accumsan non neque ac ultrices. Proin condimentum porta metus sit amet malesuada. Nam vehicula risus eu sollicitudin pellentesque.
            Curabitur elementum tempor sapien, eget semper nisl varius tempus. Ut rhoncus, nunc at egestas semper, felis nibh pulvinar sapien, nec viverra enim arcu at arcu.
            Integer condimentum elementum mi, quis dapibus odio malesuada nec. Mauris interdum ante lorem, porta tincidunt lorem fermentum eu. Cras tristique lorem in erat aliquam ullamcorper.
            Cras efficitur pretium metus in dignissim. Fusce sed mollis elit.
        </p>
        <p>
            Aenean congue lectus mauris, ut sagittis libero suscipit nec. Duis ullamcorper sem velit, non laoreet nibh suscipit in.
            Phasellus sit amet viverra urna. Quisque sed mi felis. Ut lacinia congue urna, sit amet luctus purus dapibus vel. Duis finibus nulla nec felis viverra accumsan.
            Phasellus lobortis nulla id iaculis pellentesque. Nulla vehicula faucibus lacus vel ornare. Morbi viverra, est eget auctor tristique, nibh lectus imperdiet nulla, quis porta eros mauris vitae nunc.
        </p>
        <p>
            Duis justo magna, bibendum quis laoreet eget, facilisis ut quam. In hac habitasse platea dictumst. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean tortor elit, mollis sagittis neque dictum, posuere finibus metus. Fusce rutrum eros nec lorem volutpat, convallis tempor ex tristique. Pellentesque at massa mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta tempus elit, sed aliquet turpis lobortis vel. Ut bibendum ut nunc at posuere. Vivamus tempus tempus porta. Maecenas bibendum, turpis a imperdiet pharetra, diam ipsum molestie ligula, vel imperdiet augue lorem vitae nisi. Ut malesuada imperdiet enim, ut iaculis sapien posuere at.
        </p>
    </div>
</div>

