@{
    ViewData["Title"] = "Our History";
}

<h1 class="mt-0">Our History</h1>


<div class="row">
    <div class="col-lg-8 mb-4">
        <p>
            Long before settlers came to the area that is now Atmore, The Creek Indians inhabited the virgin forests of longleaf pines settling along the creeks and rivers. The development of this area began in the 1860's following the Civil War as the Mobile and Great Northern railroad extended its line south to the Tensaw River near Mobile.
            Workers who moved through the area laying track for the railroad were drawn by the rich farmland and abundance of timber. Agriculture and timber are still major factors in Atmore's economy.
            The first structure in what is Atmore was a small shed built along the railroad at which supplies were left for William Larkin Williams who had a logging operation ten miles down in Florida. In 1866 the site was first called Williams Station, just a supply stop along the railroad.
        </p>
    </div>





