
@{
    ViewData["Title"] = "Our Board of Directors";
}

<h1 class="mt-2">Board of Directors and Staff</h1>

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <h5 class="card-header bg-dark-teal">David Strawbridge</h5>
            <p class="card-header bg-light-teal">President</p>
            <div class="card-body">
                <p class="card-text">
                    FNB&T<br />
                    111 S. Main St.<br />
                    Atmore, AL 36502<br />
                    W 251.368.0462<br />
                    C 251.359.7156<br />
                </p>
                <hr />
                <a href="mailto:brandy@fnbandt.com" class="card-link">Email Brandy</a>
            </div>
        </div>
    </div>
</div>

