@{
    ViewData["Title"] = "Our Board of Directors";
}
<!-- Modal -->
<!--The scripts that are used to have the pop-up modal to display when you click on the page. -->>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<div class="container">
    <!-- Modal -->
    <!--This is not workinging in .css i don't know why - Brandon House-->
    <style type="text/css">
        .modal-backdrop {
            background-color: #21a3a2;
        }
        .modal-body {
            background-color: #db303e;
            color:white;
        }
    </style>
    <div class="modal fade" id="myModal" role="dialog" length="200%">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <!--Modal Header container-->
                <div class="modal-header">
                    <!--The modal body that has all of the content-->
                    <div class="modal-body">
                        <!--Button in the upper right of the modal to close the modal.-->
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <!--Title that is in the header of the modal. -->
                        <h4 class="modal-title">Atmore Area Chamber of Commerce Director Welcome Letter</h4>
                        <!--Importing the PDF file so that it can be displayed. -->
                        <embed src="~/files/2018DirectorWelcomeLetter.pdf#toolbar=0&navpanes=0&scrollbar=0&zoom=88%" type="application/pdf" width="100%" height="600px" outline="none" />
                    </div>
                </div>
            </div>
            <!--Button at the bottom that lets you close the model. -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!--This is the javascript that makes the model pop-up. -->
<script type="text/javascript">
    $(window).load(function () {
        $('#myModal').modal('show');
    });

</script>


<div id="accordion">
    <div class="card">
        <div class="card-header bg-dark-teal" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed nounderline" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Board of Directors (2015 - Present)
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <h5 class="card-header bg-dark-teal">David Strawbridge</h5>
                            <div class="card-body">
                                <p class="card-text">
                                    Pepsi-Cola Bottling Co. <br />
                                    PO Box 1009 <br />
                                    Atmore, AL 36502 <br />
                                    W 251-368-3197 <br />
                                    C 251-254-0111 <br />
                                </p>
                                <hr />
                                <a href="mailto:davidstrawbridge@pepsiatmore.com" class="card-link">Email David</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <h5 class="card-header bg-dark-teal">Ellis Beachy</h5>
                            <div class="card-body">
                                <p class="card-text">
                                    Escofab <br />
                                    171 Industrial Drive <br />
                                    Atmore, AL 36502 <br />
                                    W 251-368-1261 <br />
                                    C 251-379-7005 <br />
                                </p>
                                <hr />
                                <a href="mailto:ellis.beachy@escofab.com" class="card-link">Email Ellis</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <h5 class="card-header bg-dark-teal">Edie Baker</h5>
                            <div class="card-body">
                                <p class="card-text">
                                    PCI <br />
                                    5811 Jack Springs Rd. <br />
                                    Atmore, AL 36502 <br />
                                    W 251-368-9136 Ext. 2231 <br />
                                    C 251-253-5916 <br />
                                </p>
                                <hr />
                                <a href="mailto:ebaker@pci.nsn.gov" class="card-link">Email Edie</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="accordion">
    <div class="card">
        <div class="card-header bg-dark-teal" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed nounderline" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Board of Directors (2016 - Present)
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <h5 class="card-header bg-dark-teal">Donna Gilman</h5>
                            <div class="card-body">
                                <p class="card-text">
                                    United Bank <br />
                                    200 East Nashville Ave. <br />
                                    Atmore, AL 36502 <br />
                                    W 251-446-6068 <br />
                                    C 850-366-0238 <br />
                                </p>
                                <hr />
                                <a href="mailto:donnagilman@unitedbank.com" class="card-link">Email Donna</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <h5 class="card-header bg-dark-teal">Myrna Monroe</h5>
                            <div class="card-body">
                                <p class="card-text">
                                    Atmore News <br />
                                    128 South Main St. <br />
                                    Atmore, AL 36502 <br />
                                    W 251-368-6397 <br />
                                    C 251-294-1063 <br />
                                </p>
                                <hr />
                                <a href="mailto:myrna@atmorechamber.com" class="card-link">Email Myrna</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="accordion">
    <div class="card">
        <div class="card-header bg-dark-teal" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed nounderline" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Board of Directors (2017 - Present)
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <h5 class="card-header bg-dark-teal">Kevin Classen</h5>
                            <div class="card-body">
                                <p class="card-text">
                                    Southern Computer <br />
                                    504 East Nashville Ave <br />
                                    Atmore, AL 36502 <br />
                                    W 251-446-3136 <br />
                                    C 251-294-1777 <br />
                                </p>
                                <hr />
                                <a href="mailto:kclassen@southerncomp.net" class="card-link">Email Kevin</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <h5 class="card-header bg-dark-teal">Chuck Brooks</h5>
                            <div class="card-body">
                                <p class="card-text">
                                    City of Atmore <br />
                                    106 McKenzie Dr. <br />
                                    Atmore, AL 36502 <br />
                                    W 251-368-9141 <br /> <br />
                                </p>
                                <hr />
                                <a href="mailto:esciambia7@yahoo.com" class="card-link">Email Chuck</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <h5 class="card-header bg-dark-teal">Silas Seamans</h5>
                            <div class="card-body">
                                <p class="card-text">
                                    PCI <br />
                                    5811 Jack Springs Rd. <br />
                                    Atmore, AL 36502 <br />
                                    W 251-368-9136 Ext. 2231 <br />
                                    C 251-253-5916 <br />
                                </p>
                                <hr />
                                <a href="mailto:silas@atmorerealty.com" class="card-link">Email Silas</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="accordion">
    <div class="card">
        <div class="card-header bg-dark-teal" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed nounderline" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Board of Directors (2018)
                </button>
            </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <h5 class="card-header bg-dark-teal">Amy Akins</h5>
                            <div class="card-body">
                                <p class="card-text">
                                    Alto Products <br />
                                    1 Alto Way <br />
                                    Atmore, AL 36502 <br />
                                    W 251-368-7754 <br />
                                    C 251-538-0970 <br />
                                </p>
                                <hr />
                                <a href="mailto:amy.akins@alto.com.com" class="card-link">Email Amy</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card">
                            <h5 class="card-header bg-dark-teal">Taylor Lee</h5>
                            <div class="card-body">
                                <p class="card-text">
                                    PHD Realty <br />
                                    1812 S. Main St. <br />
                                    Atmore, AL 36502 <br />
                                    W 251-368-1063 <br />
                                    C 251-294-2060 <br />
                                </p>
                                <hr />
                                <a href="mailto:taylor@phdrealty.com" class="card-link">Email Taylor</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card">
                            <h5 class="card-header bg-dark-teal">Tom Tschida</h5>
                            <div class="card-body">
                                <p class="card-text">
                                    Retired <br />
                                    507 S. Main St. <br />
                                    Atmore, AL 36502 <br />
                                    C 251-359-0080 <br /><br />
                                </p>
                                <hr />
                                <a href="mailto:tom.tschida@gmail.com" class="card-link">Email Tom</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card">

                            <h5 class="card-header bg-dark-teal">Sydney Mcghee</h5>
                            <div class="card-body">
                                <p class="card-text">
                                    F S Advisors <br />
                                    110 Brookwood Rd. <br />
                                    Atmore, AL 36502 <br />
                                    W 251-459-6914 <br />
                                    C 251-459-6918 <br />
                                </p>
                                <hr />
                                <a href="mailto:smcghee@fsa-rb.com" class="card-link">Email Sydney</a>
                            </div>
                        </div>
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <h5 class="card-header bg-dark-teal">Justin Stabler</h5>
                            <div class="card-body">
                                <p class="card-text">
                                    PCI <br />
                                    5811 Jack Springs Rd. <br />
                                    Atmore, AL 36502 <br />
                                    W 251-368-9136 Ext. 2938 <br /><br />
                                </p>
                                <hr />
                                <a href="mailto:jstabler@pci-nsn.gov" class="card-link">Email Justin</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <h5 class="card-header bg-dark-teal">Mallory Shirley</h5>
                            <div class="card-body">
                                <p class="card-text">
                                    Cotton + Co. <br />
                                    114 W. Ridgeley St. <br />
                                    Atmore, AL 36502 <br />
                                    C 334-728-5508 <br /><br />
                                </p>
                                <hr />
                                <a href="mailto:cottonandcoboutique@gmail.com" class="card-link">Email Mallory</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <h5 class="card-header bg-dark-teal">Shane Hadley</h5>
                            <div class="card-body">
                                <p class="card-text">
                                    Baldwin Gulf Coast Pest Control <br />
                                    711 N. Main St. <br />
                                    Atmore, AL 36502 <br />
                                    W 251-295-0259 <br />
                                    C 251-446-3133 <br />
                                </p>
                                <hr />
                                <a href="mailto:rshadley@gmx.com" class="card-link">Email Shane</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="accordion">
    <div class="card">
        <div class="card-header bg-dark-teal" id="headingFive">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed nounderline" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                    Staff
                </button>
            </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <h5 class="card-header bg-dark-teal">Emily Spurlock Harp, <br /> Executive Director</h5>
                            <div class="card-img-top d-flex align-items-center">
                                <div>
                                    <img src="~/images/boardofdirectors/Emily-Spurlock-Harp.jpg" alt="Emily Spurlock Harp" style="width:174.4px; height:210px;">
                                </div>
                                <p class="p-4">
                                    W (251) 368-3305 <br />
                                    C (850) 324-0443 <br /><br />
                                </p>
                            </div>
                            <div class="card-footer bg-white text-center">
                                <a href="mailto:director@atmorechamber.com" class="card-link">Email Emily</a> <br />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <h5 class="card-header bg-dark-teal">Brandon Beachy, <br /> Executive Assistant</h5>
                            <div class="card-body">
                                <p class="card-text text-center">

                                    <br />
                                    <br />

                                    W (251) 368-3305 <br />
                                    C (251) 428-0913 <br />

                                    <br />
                                    <br />
                                    <br />
                                </p>
                                <div class="card-footer bg-white text-center">
                                    <a href="mailto:admin@atmorechamber.com" class="card-link">Email Brandon</a> <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>