
@{
    ViewData["Title"] = "Our Board of Directors";
}

<h1 class="mt-2">Board of Directors and Staff</h1>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <h5 class="card-header bg-dark-teal">David Strawbridge</h5>
            <div class="card-body">
                <p class="card-text">
                    Pepsi-Cola Bottling Co. <br />
                    PO Box 1009 <br />
                    Atmore, AL 36502 <br />
                    W 251-368-3197 <br />
                    C 251-254-0111 <br />
                </p>
                <hr />
                <a href="mailto:davidstrawbridge@pepsiatmore.com" class="card-link">Email David</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <h5 class="card-header bg-dark-teal">Ellis Beachy</h5>
            <div class="card-body">
                <p class="card-text">
                    Escofab <br />
                    171 Industrial Drive <br />
                    Atmore, AL 36502 <br />
                    W 251-368-1261 <br />
                    C 251-379-7005 <br />
                </p>
                <hr />
                <a href="mailto:ellis.beachy@escofab.com" class="card-link">Email Ellis</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <h5 class="card-header bg-dark-teal">Edie Baker</h5>
            <div class="card-body">
                <p class="card-text">
                    PCI <br />
                    5811 Jack Springs Rd. <br />
                    Atmore, AL 36502 <br />
                    W 251-368-9136 Ext. 2231 <br />
                    C 251-253-5916 <br />
                </p>
                <hr />
                <a href="mailto:ebaker@pci.nsn.gov" class="card-link">Email Edie</a>
            </div>
        </div>
    </div>


</div>