@{
    ViewData["Title"] = "Our Executive Board";
}

<h1 class="mt-0">Our Executive Board</h1>


<div class="row-fluid">
    <div class="col-md-3">
        <div class="box effect1" style="border-radius: 10px; border: 1px solid #888; height:500px;">
            <h3 style="line-height:25px">
                Brandy Giger, <br> President
            </h3>
            <img src="~/images/executiveboard/brandy-giger.jpg" alt="Brandy Giger" style="width:174.4px; height:218px;">
            <p class="textalign">
                <br />
                FNB&T<br>
                111 S. Main St.<br>
                Atmore, AL 36502<br>
                W 251.368.0462<br>
                C 251.359.7156<br>
                <a href="mailto:brandy@fnbandt.com">brandy@fnbandt.com</a>
                </p">
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="box effect1" style="border-radius: 10px; border: 1px solid #888; height:500px;">
        <h3 style="line-height:25px">
            Jordan Barnett, <br> Vice President
        </h3>
        <img src="~/images/executiveboard/jordan-barnett.jpg" alt="Jordan Barnett" style="width:174.4px; height:218px;">
        <p class="textalign">
            <br />
            Country Place Senior Living<br>
            140 McRae St.<br>
            Atmore, AL 36502<br>
            C 251.767.0433<br>
            <small><a href="mailto:jbarnett@countryplaceseniorliving.net">jbarnett@countryplaceseniorliving.net</a> </small>
        </p>
    </div>
</div>

<div class="col-md-3">
    <div class="box effect1" style="border-radius: 10px; border: 1px solid #888; height:500px;">
        <h3 style="line-height:25px">
            Judd Coley, <br> Treasurer
        </h3>
        <img src="~/images/executiveboard/judd-coley.jpg" alt="Judd Coley" style="width:174.4px; height:218px;">
        <p class="textalign">
            <br />
            Coley Air Conditioning<br>
            409 E Ridgeley St.<br>
            Atmore, AL 36502<br>
            W (251) 368-4413<br>
            C (251) 253-2776<br>
            <a href="mailto:JuddC@ColeyAC.com">JuddC@ColeyAC.com</a>
        </p>
    </div>
</div>
<div class="col-md-3">
    <div class="box effect1" style="border-radius: 10px; border: 1px solid #888; height:500px;">
        <h3 style="line-height:25px">
            Chris Singleton, <br> Past President
        </h3>
        <p class="textalign">

            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />

            PCI<br>
            303 Poarch Rd.<br>
            Atmore, AL 36502<br>
            W (251) 446-4282<br>
            C (251) 259-6467<br>
            <a href="mailto:csingleton@pcigaming.com">csingleton@pcigaming.com</a>
        </p>
    </div>
</div>





