@{
    ViewData["Title"] = "Events";
}

<h1 class="mt-2">Calendar</h1>
<hr />

<div class="container">
    <div class="row row-striped">
        <div class="col-2 text-right">
            <h1 class="display-4"><span class="badge badge-secondary bg-atmore-red">5</span></h1>
            <h2>May</h2>
        </div>
        <div class="col-10">
            <h3 class="text-uppercase"><strong>Mayfest 2018</strong></h3>
            <ul class="list-inline">
                <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Saturday</li>
                <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 9:00 AM - 5:00 PM</li>
                <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Tom Byrne Park</li>
            </ul>
            <p>Join us on the first Saturday in May at Tom Byrne Park. Sports events, arts and crafts, a variety of food and entertainment on the Gazebo Stage make this an event for every family member.</p>
        </div>
    </div>
    <div class="row row-striped">
        <div class="col-2 text-right">
            <h1 class="display-4"><span class="badge badge-secondary bg-atmore-red">2</span></h1>
            <h2>August</h2>
        </div>
        <div class="col-10">
            <h3 class="text-uppercase"><strong>Market in the Park</strong></h3>
            <ul class="list-inline">
                <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Thursday</li>
                <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 7:30 AM - 11:30 AM</li>
                <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Heritage Park</li>
            </ul>
            <p>Local Growers selling their local produce and more.</p>
        </div>
    </div>
    <div class="row row-striped">
        <div class="col-2 text-right">
            <h1 class="display-4"><span class="badge badge-secondary bg-atmore-red">27</span></h1>
            <h2>October</h2>
        </div>
        <div class="col-10">
            <h3 class="text-uppercase"><strong>Williams Station Day</strong></h3>
            <ul class="list-inline">
                <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Saturday</li>
                <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 9:00 AM - 5:00 PM</li>
                <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Williams Station</li>
            </ul>
            <p>October 28th, that's the date to be in Atmore, Alabama as residents turn back their clocks to 1866 when their community was named Williams Station - just a supply stop along the Mobile & Great Northern railroad. We guarantee a fun day of family entertainment. An easy one hour drive from Mobile, Pensacola and Baldwin County, Williams Station Day is packed with great venues to fit every taste. For the young and young at heart we offer an old fashioned sampling of southern heritage seasoned with the blues, arts and crafts, cane milling and heritage displays. Join us!</p>
        </div>
    </div>
</div>





